/* Make the details boxes in KB articles look like confluence */
details {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  pointer-events: none;
}

/* Make the details boxes in KB articles look like confluence */
details:hover {
  border: 1px solid #aaa;
}

/* Make the details boxes in KB articles look like confluence */
details[open] {
  padding: 0.5em;
  border: 1px solid #ccc;
}

/* Make the details boxes in KB articles look like confluence */
details[open]:hover {
  border: 1px solid #aaa;
}

/* Make the details boxes in KB articles look like confluence */
details>summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  user-select: none;
  pointer-events: auto;
}

/* Make the details boxes in KB articles look like confluence */
details>summary:first-of-type {
      list-style-type: revert;
}

/* Add border to images from confluence */
.img-from-confluence {
    border: 1px solid gray;
}

/* Inline code - grey background*/
code {
    background-color: #F1F2F4;
    padding: 2px .5ch;
}
