/* Make the details boxes in KB articles look like confluence */
.rich_text_content details {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: unset;
}

/* Make the details boxes in KB articles look like confluence */
.rich_text_content details:hover {
  border: 1px solid #aaa;
}

/* Make the details boxes in KB articles look like confluence */
.rich_text_content details[open] {
  border: 1px solid #ccc;
}

/* Make the details boxes in KB articles look like confluence */
.rich_text_content details[open]:hover {
  border: 1px solid #aaa;
}

/* Make the details boxes in KB articles look like confluence */
.rich_text_content summary {
  border-bottom: none;
  padding: 1rem .5em;
  padding-top: 1rem;
  position: relative;
}

/* Add border to images from confluence */
.img-from-confluence {
    border: 1px solid gray;
}

/* Inline code - grey background*/
code {
    background-color: #F1F2F4;
    padding: 2px .5ch;
}
